<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Super KNN Tester Turbo</title>
</head>

<h1 style="text-align: center; color: red;" href="">Super KNN Tester Turbo</h1>

<body style="background-color: aquamarine;">
  <form method="post" enctype="multipart/form-data" style="border:orange; border-width:5px; border-style:solid; text-align: center;">
    <label for="file">Adicione seu Arquivo</label>
    <br>
    <input type="file" id="file" name="file" accept=".csv, .txt"><br />
    <br/>
    <label>Adicione o valor a ser classificado</label>
    <input type="text" id="dado" name="dado"><br/>
    <br/>
    <button>Enviar Arquivo</button>
  </form>
</body>
</html>